body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form {
    width: 300px;
    border: 1px solid #000;
    padding: 20px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px); /* Adjusting for padding and border */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

.error {
    color: red;
    font-size: 0.85em;
}
